{% extends "base.html" %}

{% block head %}

<script>
</script>

{% block head_more %}
<link href="/static/style.css" rel="stylesheet">
<link href="/static/darktheme.css" rel="stylesheet" id="dark">
<link href="/static/lighttheme.css" rel="stylesheet" id="light">
<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
<script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
<script type="text/javascript" src="/realtimewebui/js/realtimewebui.js"></script>
<script type="text/javascript" src="/realtimewebui/externals/underscore-min.js"></script>
<script>
var globalModelWebsocketPort = {{globalModelWebsocketPort}};
var globalModelWebsocketSecret = "{{globalModelWebsocketSecret}}";
</script>
{% endblock %}

<script type="text/babel" src="dashboard.js"></script>

{% endblock %}
<main class="container" id="content"></main>
