.dark {
    color: #cccccc;
    background-color: #232323;
}
.popover-content, .popover-title, .hosts-list {
    color: black;
}
.dark .panel {
    background-color: #232323;
}
.dark .list-group-item {
    background-color: #232323;
    color: #cccccc;
}
.dark .label-success {
    background-color: #41813d;
}
.dark .label-primary {
    background-color: #6395be;
}
.dark .label-danger {
    background-color: #df8a83;
}
.dark .label-default-dark {
    background-color: white;
}
.dark .label-detached {
    background-color: #b6cac5;
}
.dark .label-info {
    background-color: #276e80;
}
.dark .label-default-light {
    background-color: #555451;
}
.dark .label {
    color: black;
}
.dark .list-group-item {
    color: white;
}
.dark .table td {
    border-color: #41403f;
}
.dark .machine {
    border-color: #41403f;
}
