@import url(/realtimewebui/externals/bootstrap/css/bootstrap-theme.css);
body {
    color: #cccccc;
    background-color: #232323;
}
.popover-content, .popover-title, .hosts-list {
    color: black;
}
.panel {
    background-color: #232323;
}
.list-group-item {
    background-color: #232323;
    color: #cccccc;
}
.label-success {
    background-color: #41813d;
}
.label-primary {
    background-color: #6395be;
}
.label-danger {
    background-color: #df8a83;
}
.label-detached {
    background-color: #b6cac5;
}
.label-info {
    background-color: #276e80;
}
.label-light {
    background-color: #555451;
}
.label {
    color: black;
}
.label-dark {
    color: white;
    background-color: #CFCFC4;
}
.badge-success {
    background-color: #41813d;
}
.badge-primary {
    background-color: #6395be;
}
.badge-danger {
    background-color: #df8a83;
}
.badge-dark {
    background-color: #CFCFC4;
}
.badge-detached {
    background-color: #b6cac5;
}
.list-group-item {
    color: white;
}
.table td {
    border-color: #41403f;
}
.machine {
    border-color: #41403f;
}
