.dark {
    color: #cccccc;
    background-color: #232323;
}
.popover-content, .popover-title, .hosts-list {
    color: black;
}
.dark .panel {
    background-color: #232323;
}
.list-group .list-group-item {
.dark .list-group-item {
    background-color: #232323;
    color: #cccccc;
}
