@import url(/realtimewebui/externals/bootstrap/css/bootstrap-theme.css);
body, .list-group-item {
    background-color: #232323;
    color: #cccccc;
}
.popover-content, .popover-title, .hosts-list {
    color: black;
}
.panel {
    background-color: #232323;
}
.label-success, .badge-success {
    background-color: #41813d;
}
.label-primary, .badge-primary {
    background-color: #6395be;
}
.label-danger, .badge-danger {
    background-color: #df8a83;
}
.label-detached, .badge-detached {
    background-color: #b6cac5;
}
.label-info {
    background-color: #276e80;
}
.label-light {
    background-color: #555451;
}
.label {
    color: black;
}
.label-dark, .badge-dark  {
    background-color: #CFCFC4;
}
.machine, .table td {
    border-color: #41403f;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
    text-shadow: none;
	color: #707070;
}
.btn-default:hover, .btn-default:focus, .btn-default:active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active {
	background-color: #626262;
	background-image: none;
    text-shadow: none;
	color: #959595;
}
.panel-heading, .dropdown-menu, .navbar-default, .btn-default {
	background-image: none;
	background-color: #343434;
	text-shadow: none;
	color: #707070;
}
.dropdown-menu > li > a {
	color: white;
}
.panel-default, .list-group-item, .navbar-default {
    border-color: #41403f;
}
.host-collection-row td {
    border-top: 1px solid #41403f!important;
}
tr.hover td {
    background-color: #707070!important;
}
